version: '3'

services:
  traefik:
    image: traefik:v2.9  # Using the latest version of Traefik
    container_name: traefik

    # Automatically restart the container if it stops or crashes. This
    # ensures that the service remains available and running, providing
    # higher availability and resilience for the application. The 
    # container will be restarted regardless of the reason it stopped,
    # whether it was due to an error, a manual stop, or a system reboot..
    restart: always
    
    ports:
      - "80:80"          # Expose HTTP
      - "443:443"        # Expose HTTPS
      - "8080:8080"      # Expose Traefik dashboard
    
    # Volumes are a mechanism for persisting data generated and used by 
    # Docker containers, ensuring that data is not lost when containers 
    # are stopped or removed.
    # Volumes can be used for various purposes, such as:
    # - Sharing data between the host and containers
    # - Storing configuration files
    # - Storing persistent data generated by and used by containers
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock:ro

      # Mount a local directory (./letsencrypt) to store Let's Encrypt
      # certificates, making it easier to back up and manage SSL/TLS certificates.
      - ./letsencrypt:/letsencrypt
      
      # Mount traefik static configurations
      - ./traefik.config.yml:/etc/traefik/traefik.yml
    
    # Define environment variables for a specific service
    environment:
      - CF_DNS_API_TOKEN=BDJJd2HKJOFZeISUcusxhNyZUXNDLz6heE_jUYrx

# # The catapp service
#   catapp:
#     image: mikesir87/cats:1.0
#     labels:
#       # When traefik.enable=true is set, it instructs Traefik to include this 
#       # service in its routing configuration. Without this label, Traefik would 
#       # ignore the service, and it would not be exposed or routed by Traefik.
#       - "traefik.enable=true"

#       # Router matches /cats on secure (TLS) entrypoint
#       # - "traefik.http.routers.catapp.rule=PathPrefix(`/cats`)"
#       - "traefik.http.routers.catapp.rule=Host(`mabdellateef.fyi`) && PathPrefix(`/cats`)"
#       - "traefik.http.routers.catapp.entrypoints=websecure"

#       # Enable TLS for this router
#       - "traefik.http.routers.catapp.tls=true"

#       # Use middleware to strip the /cats prefix
#       - "traefik.http.routers.catapp.middlewares=catapp-strip"
#       - "traefik.http.middlewares.catapp-strip.stripprefix.prefixes=/cats"
#       - "traefik.http.routers.catapp.tls.certresolver=myresolver"

# MariaDB service for NextCloud
  mariadb:
    image: mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD=example
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=example
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always

# NextCloud service
  nextcloud:
    image: nextcloud:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`cloud.mabdellateef.fyi`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.tls.certresolver=myresolver"
    ports:
      - "9999:80"  # Custom port mapping
    restart: always
    volumes:
      - nextcloud_data:/var/www/html
    environment:
      - MYSQL_HOST=mariadb
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=example

# Portainer service
  portainer:
    image: portainer/portainer-ce:latest
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`portainer.mabdellateef.fyi`)"
      - "traefik.http.routers.portainer.entrypoints=websecure"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.routers.portainer.tls.certresolver=myresolver"
      - "traefik.http.middlewares.portainer-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.portainer.middlewares=portainer-redirect"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"

# Pi-hole service
  pihole:
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80"
      - "443:443"
    environment:
      - TZ=Africa/Cairo
      - WEBPASSWORD=M@123
    networks:
      pihole_net:
        ipv4_address: 192.168.1.190
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.mabdellateef.fyi`)"
      - "traefik.http.routers.pihole.entrypoints=websecure"
      - "traefik.http.routers.pihole.tls=true"
      - "traefik.http.routers.pihole.tls.certresolver=myresolver"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"

# n8n service
  n8n:
    image: n8nio/n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=M@123
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`n8n.mabdellateef.fyi`)"
      - "traefik.http.routers.n8n.entrypoints=websecure"
      - "traefik.http.routers.n8n.tls=true"
      - "traefik.http.routers.n8n.tls.certresolver=myresolver"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"

networks:
  pihole_net:
    driver: macvlan
    driver_opts:
      parent: enxf0a731b0d1fc  # got it from `ip addr` OR `ip route | grep default`
    ipam:
      config:
        - subnet: 192.168.1.0/24  # Replace with your network's subnet
          gateway: 192.168.1.1    # Replace with your network's gateway

volumes:
  nextcloud_data:
  mariadb_data:
  portainer_data: